html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /*O gap é uma propriedade CSS usada para definir o espaçamento entre elementos dentro de um container que usa display: flex ou display: grid.*/
  padding: 40px;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  color: #333;
  font-size: 14px;
  width: 100%;
}


header {
    background: #ff91a4;
    color: white;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

section {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#animais {
    display: grid;
    gap: 1rem;
}

.animal-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background: #fffafc;
}

button {
    background: #ff91a4;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffb3c1;
}

footer {
    background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  color: #333;
  font-size: 14px;
  width: 100%;
}