html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /*O gap é uma propriedade CSS usada para definir o espaçamento entre elementos dentro de um container que usa display: flex ou display: grid.*/
  padding: 40px;
}

footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  color: #333;
  font-size: 14px;
  width: 100%;
}


header {
    background: #6e5c62;
    color: #e9cf9c;
    text-align: left;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

section {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#animais {
    display: grid;
    gap: 1rem;
}

.animal-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background: #fffafc;
}

button {
    background: #ff91a4;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffb3c1;
}

footer {
    background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  color: #333;
  font-size: 14px;
  width: 100%;
}

#logo {
    margin-left: 25px;
    height: 40px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

#loginMessage {
    color: red;
    margin-top: 10px;
}

#login {
    width: 100%;
    padding: 0.7rem;
    background: #3aa394;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}
.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.animal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
  width: 500px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.animal img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 15px;
}

.animal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animal-info h3 {
  font-size: 1.2em;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}


.animal-info p {
  margin: 0;
  font-size: 1em;
  color: #666;
}



